.calculator {
  width: 300px;
  margin: auto; /* Center the calculator */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result input {
  width: 100%;
  padding: 5px;
  font-size: 1.5em;
  text-align: right;
  border: none;
  outline: none;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-30px);
  }
  60% {
      transform: translateY(-15px);
  }
}

button {
  padding: 10px;
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: transform 0.5s ease; /* Add a transition for the transform property */
}

button:hover {
  background-color: #e9e9e9;

}

button.highlight {
  background-color: #ffa500;
  color: #fff;
  font-weight: bold;
}

button:active {
  transform: scale(0.95);
}

